In [2]:
# Code Imports
import numpy as np
import pandas as pd
import sqlite3
from sqlite3 import Error

### Create Connection to Database

In [3]:
def create_connection_sql():
    """ create a database connection to a database that resides
        in the memory
    """
    conn = None
    try:
        conn = sqlite3.connect(':memory:')
        print("Connection established!")
        
    except Error as e:
        print("Error Connecting to Database")
        raise(e)
    return conn

sql_database = 'data/northwind.sql'
conn = create_connection_sql()
cur = conn.cursor()
qry = open(sql_database, 'r').read()
cur.executescript(qry)
conn.commit()
# remember to close the connection when everything is done

def create_connection_db(db_file):
    """ Connect to the specified SQLite database, if not exist, create a new one;
    :db_file: location of db to connect to
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print("Connection established!")
    except Error as e:
        print(e)
    return conn

# db_file_loc = "./data/sqliteQ3.db"
# conn = create_connection(db_file_loc) 
# remember to close the connection when everything done

Connection established!

### Basic Queries

In [4]:
# sql lite function to execute queries
def execute_sql(query):
    # select table and display
    cur.execute(query)

    # fetches all the rows from the result of the query
    rows = cur.fetchall()
    
    # gets the column names for the table
    colnames = [desc[0] for desc in cur.description]

    # converts into readable pandas dataframe
    df_result = pd.DataFrame(rows, columns=colnames)
    return df_result

##### Select all

In [5]:
execute_sql(
    '''
    SELECT * FROM Customers;
    ''').head()

,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,None,12209,Germany,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la ConstituciÃ³n 2222,MÃ©xico D.F.,None,05021,Mexico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno TaquerÃ­a,Antonio Moreno,Owner,Mataderos 2312,MÃ©xico D.F.,None,05023,Mexico,(5) 555-3932,None
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,None,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,BERGS,Berglunds snabbkÃ¶p,Christina Berglund,Order Administrator,BerguvsvÃ¤gen 8,LuleÃ¥,None,S-958 22,Sweden,0921-12 34 65,0921-12 34 67

In [6]:
conn.close() # close connection once finished